<div class="bg-color">
  <div class="container">
    <div class="table-wrapper">

      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <h3 class="queue-title mb-0 me-3">จัดการบัญชี</h3>

          <div class="dropdown me-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="pageSizeDropdown"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{ size }}
            </button>

            <ul class="dropdown-menu" aria-labelledby="pageSizeDropdown">
              <li *ngFor="let s of sizes">
                <a class="dropdown-item" [class.active]="s === size" (click)="onPageSizeChange(s)">
                  {{ s }}
                </a>
              </li>
            </ul>
          </div>

          <div class="dropdown me-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="roleDropdown" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{ getTranslateRole(role) }}
            </button>

            <ul class="dropdown-menu" aria-labelledby="pageSizeDropdown">
              <li *ngFor="let r of roles">
                <a class="dropdown-item" [class.active]="r === role" (click)="onRoleChange(r)">
                  {{ getTranslateRole(r) }}
                </a>
              </li>
            </ul>
          </div>

        </div>

        <div class="d-flex align-items-center">
          <button class="btn btn-primary me-2 mb-md-0" data-bs-toggle="modal"
            data-bs-target="#addAccountModal" (click)="resetForm()">เพิ่มบัญชี</button>
          <input class="form-control search-box" type="text" placeholder="ค้นหา" [(ngModel)]="keyword"
            (input)="onSearchChanged()">
        </div>
      </div>

      <!-- Table -->
      <div class="table-scroll">
        <div class="div-table">

          <div class="div-table-row header">
            <div class="div-table-cell">ลำดับที่</div>
            <div class="div-table-cell">ชื่อ-นามสกุล</div>
            <div class="div-table-cell">เบอร์โทรศัพท์</div>
            <div class="div-table-cell">ตำแหน่ง</div>
            <div class="div-table-cell">การจัดการ</div>
          </div>

          <div class="div-table-row" *ngFor="let account of accounts; let i = index">
            <div class="div-table-cell">{{ (page * size) + i + 1 }}</div>
            <div class="div-table-cell">{{ account.firstName }} {{ account.lastName }}</div>
            <div class="div-table-cell">{{ account.telNumber }}</div>
            <div class="div-table-cell">{{ getTranslateRole(account.role) }}</div>
            <div class="div-table-cell">
              <button class="btn btn-success btn-sm me-1" data-bs-toggle="modal"
                  data-bs-target="#editAccountModal" (click)="onEditButton(account.accountId)">แก้ไข</button>
            </div>
          </div>

          <div class="div-table-row no-data" *ngIf="accounts.length === 0">
            <div class="div-table-cell text-center">
            </div>
            <div class="div-table-cell text-center">
            </div>
            <div class="div-table-cell text-center">
              ไม่พบข้อมูล
            </div>
            <div class="div-table-cell text-center">
            </div>
            <div class="div-table-cell text-center">
            </div>
          </div>

        </div>
      </div>

      <!-- Pagination -->
          <div class="d-flex justify-content-center mt-3">
            <app-pagination [totalPages]="totalPages" [currentPage]="pageCurrent"
              (pageChange)="onPageChange($event)"></app-pagination>
          </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addAccountModal" tabindex="-1" aria-labelledby="addAccountModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="addAccountForm">
        <div class="modal-header">
          <h5 class="modal-title" id="addAccountModalLabel">เพิ่มบัญชี</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <!-- ชื่อจริง + นามสกุล บรรทัดเดียว -->
          <div class="row mb-3">
            <div class="col">
              <label for="firstName" class="form-label">ชื่อจริง</label>
              <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="ชื่อจริง">
            </div>
            <div class="col">
              <label for="lastName" class="form-label">นามสกุล</label>
              <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="นามสกุล">
            </div>
          </div>

          <div class="mb-3">
            <label for="telNumber" class="form-label">เบอร์โทรศัพท์</label>
            <input type="text" class="form-control" id="telNumber" formControlName="telNumber" placeholder="เบอร์โทรศัพท์">
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">รหัสผ่าน</label>
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="รหัสผ่าน">
          </div>

          <div class="mb-3">
            <label for="role" class="form-label">ตำแหน่ง</label>
            <select class="form-select" id="role" formControlName="role">
              <option value="">-- เลือกตำแหน่ง --</option>
              <option *ngFor="let r of roles" [value]="r">{{ getTranslateRole(r) }}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
          <button type="button" class="btn btn-primary" (click)="submitAddAccount()"
            [disabled]="addAccountForm.invalid" data-bs-dismiss="modal">
            บันทึก
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Account Modal -->
<div class="modal fade" id="editAccountModal" tabindex="-1" aria-labelledby="editAccountModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="editAccountForm">
        <div class="modal-header">
          <h5 class="modal-title" id="editAccountModalLabel">แก้ไขบัญชี</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="row mb-3">
            <div class="col">
              <label for="firstName" class="form-label">ชื่อจริง</label>
              <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="ชื่อจริง">
            </div>
            <div class="col">
              <label for="lastName" class="form-label">นามสกุล</label>
              <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="นามสกุล">
            </div>
          </div>

          <div class="mb-3">
            <label for="telNumber" class="form-label">เบอร์โทรศัพท์</label>
            <input type="text" class="form-control" id="telNumber" formControlName="telNumber" placeholder="เบอร์โทรศัพท์">
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">รหัสผ่าน</label>
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="รหัสผ่าน">
          </div>

          <div class="mb-3">
            <label for="role" class="form-label">ตำแหน่ง</label>
            <select class="form-select" id="role" formControlName="role">
              <option value="">-- เลือกตำแหน่ง --</option>
              <option *ngFor="let r of roles" [value]="r">{{ getTranslateRole(r) }}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
          <button type="button" class="btn btn-primary" (click)="submitEditAccount()"
            [disabled]="editAccountForm.invalid" data-bs-dismiss="modal">
            บันทึก
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

