.bg-color {
    background-color: #2c2627;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.queue-title {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
}

.table-wrapper {
    background-color: #201b1c;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    max-width: 1800px;
    width: 90%;
    position: relative;
    overflow-x: auto;
}

/* ช่องค้นหาอยู่ขวาบน */
.table-wrapper .d-flex {
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.div-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

.div-table-row {
    display: table-row;
}

.div-table-row.header .div-table-cell {
    font-weight: bold;
    color: #ddd;
    background-color: #393134;
    /* สี header */
}

.div-table-cell {
    display: table-cell;
    padding: 0.75rem 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #473D41;
    color: #fff;
}

.div-table-row:not(.header):nth-child(even) .div-table-cell {
    background-color: #473D41;
}

.div-table-row:not(.header):nth-child(odd) .div-table-cell {
    background-color: #393134;
}

.table-scroll {
    overflow-x: auto;
    border-radius: 12px;
}

.queue-status {
    color: #fff;
    border-radius: 8px;
    padding: 4px 12px;
    font-weight: 500;
    display: inline-block;
}

.queue-status.queueing {
    background-color: #6c757d;
    /* เทา */
}

.queue-status.done {
    background-color: #198754;
    /* เขียว */
}

.queue-status.canceled {
    background-color: #dc3545;
    /* แดง */
}

.form-label {
    color: #fff;
}

.filter-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background-color: #2c2627;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
}

.filter-item {
    display: flex;
    flex-direction: column;
    min-width: 130px;
}

.filter-input {
    background-color: #3b3334;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
}

.filter-input:focus {
    background-color: #4a4143;
    color: #fff;
    outline: none;
    box-shadow: none;
}

.input-group-text {
    background-color: #3b3334;
    color: #aaa;
    border: none;
}

/* ✅ สำหรับหน้าจอมือถือ */
@media (max-width: 768px) {

    .search-item {
        grid-column: span 2;
    }

    .bg-color {
        padding-top: 20%;
        padding-bottom: 10%;
    }
}